<div class="relative w-full flex flex-col gap-4 items-center">
  <!-- Image Control Button -->
  @if(!readonly()) {
    <button
      type="button"
      (click)="openDialog()"
      [disabled]="disabled()"
      class="absolute sm:w-[200px] inline-flex w-full justify-center items-center px-6 py-4 m-2 text-sm font-small text-center text-gray-900 bg-white border border-gray-200 rounded-sm shrink-0 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 transition-all z-10 top-0 right-0 cursor-pointer"
      role="button">
      Postavi sliku
    </button>
  }

  <!-- Current Image Preview -->
  <img
    class="w-full h-100 text-gray-800 dark:text-white object-contain object-center"
    [src]="value() ?? '/illustrations/woman-earth-hugging.svg'"
    alt="Slika projekta" />

</div>
