<div
  [id]="id()"
  tabindex="-1"
  aria-hidden="true"
  class="max-h-auto fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden antialiased bg-black/80"
>
  <div class="max-h-auto relative max-h-full w-full max-w-lg p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-neutral-950 border border-white/5 shadow">
      <!-- Modal header -->
      <div class="flex items-center justify-between rounded-t border-b border-white/5 p-4 md:p-5">
        <h3 class="text-lg font-semibold text-white">Informacije o profilu</h3>
        <button
          type="button"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-neutral-400 hover:bg-white/5 hover:text-white cursor-pointer"
          (click)="closeClick.emit()"
        >
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="form" (ngSubmit)="updateMe()">
        <div class="mb-5 flex flex-col gap-4">
          <div>
            <label for="linkedin" class="mb-2 block text-sm font-medium text-white">
              Ime i prezime
            </label>
            <input
              type="text"
              id="fullName"
              class="block w-full rounded-lg border border-white/10 bg-black p-2.5 text-sm text-white placeholder-neutral-500 focus:ring-1 focus:ring-primary-500 focus:border-primary-500"
              placeholder="Petar Petrović"
              formControlName="fullName"
            />
          </div>

          <div>
            <label for="linkedin" class="mb-2 block text-sm font-medium text-white">
              Linkedin nalog
              <small>(npr. https://www.linkedin.com/in/your-username)</small>
            </label>
            <input
              type="text"
              id="linkedin"
              class="block w-full rounded-lg border border-white/10 bg-black p-2.5 text-sm text-white placeholder-neutral-500 focus:ring-1 focus:ring-primary-500 focus:border-primary-500"
              placeholder="https://www.linkedin.com/in/your-username"
              formControlName="linkedInUrl"
            />
          </div>

          <div>
            <label for="github" class="mb-2 block text-sm font-medium text-white">
              Github nalog <small>(npr. https://github.com/PushSerbia)</small>
            </label>
            <input
              type="text"
              id="github"
              class="block w-full rounded-lg border border-white/10 bg-black p-2.5 text-sm text-white placeholder-neutral-500 focus:ring-1 focus:ring-primary-500 focus:border-primary-500"
              placeholder="https://github.com/PushSerbia"
              formControlName="gitHubUrl"
            />
          </div>

          @if (false) {
            <div class="sm:col-span-2">
              <label for="address_billing_modal" class="mb-2 block text-sm font-medium text-white"
                >Biografija</label
              >
              <textarea
                id="address_billing_modal"
                rows="4"
                class="block w-full rounded-lg border border-white/10 bg-black p-2.5 text-sm text-white placeholder-neutral-500 focus:ring-1 focus:ring-primary-500 focus:border-primary-500"
                placeholder="Enter here your address"
              ></textarea>
            </div>
          }
        </div>

        <div class="border-t border-white/5 pt-4 md:pt-5">
          <button
            type="submit"
            class="me-2 inline-flex items-center rounded-lg bg-primary-400 px-5 py-2.5 text-center text-sm font-medium text-black hover:bg-primary-300 focus:outline-none focus:ring-4 focus:ring-primary-800 cursor-pointer"
            [disabled]="form.invalid"
          >
            Sačuvaj promene
          </button>
          <button
            type="button"
            class="me-2 rounded-lg border border-white/10 bg-neutral-900 px-5 py-2.5 text-sm font-medium text-neutral-400 hover:bg-white/5 hover:text-white focus:z-10 focus:outline-none focus:ring-4 focus:ring-neutral-800 cursor-pointer"
            (click)="closeClick.emit()"
          >
            Otkaži
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
