<div
  class="col-span-2 rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800"
>
  <h3
    class="flex items-center border-b border-gray-200 pb-4 text-xl font-semibold leading-none text-gray-900 dark:border-gray-700 dark:text-white md:pb-6"
  >
    Podaci o nalogu
  </h3>
  <div class="my-4 grid gap-4 md:my-6 md:grid-cols-2 md:gap-12">
    <div class="space-y-4">
      <div class="flex items-center space-x-4">
        <img
          class="h-16 w-16 rounded-lg"
          [src]="data().imageUrl"
          [alt]="data().name"
        />
        <div>
          <span
            class="me-2 rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300"
          >
            {{ data().role | titlecase }}
          </span>
          <h3
            class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ data().name }}
          </h3>
        </div>
      </div>
      <dl>
        <dt class="font-semibold text-gray-900 dark:text-white">
          Email Address
        </dt>
        <dd class="text-gray-500 dark:text-gray-400">{{ data().email }}</dd>
      </dl>
      <dl>
        <dt class="font-semibold text-gray-900 dark:text-white">Linkedin</dt>
        <dd class="text-gray-500 dark:text-gray-400">
          @let linkedInUrl = data().linkedInUrl;
          @if (linkedInUrl) {
            <a [href]="linkedInUrl" target="_blank">{{ linkedInUrl }}</a>
          } @else {
            Unesi podatak
          }
        </dd>
      </dl>
      <dl>
        <dt class="font-semibold text-gray-900 dark:text-white">Github</dt>
        <dd class="text-gray-500 dark:text-gray-400">
          @let gitHubUrl = data().gitHubUrl;
          @if (gitHubUrl) {
            <a [href]="gitHubUrl" target="_blank">{{ gitHubUrl }}</a>
          } @else {
            Unesi podatak
          }
        </dd>
      </dl>
    </div>

    <!--    <app-profile-pro-card />-->
  </div>
  <div class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-6">
    <button
      type="button"
      class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto"
      (click)="openProfileInformationDialog()"
    >
      <svg
        class="-ms-0.5 me-1.5 h-4 w-4"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
        />
      </svg>
      Ažuriraj podatke
    </button>
  </div>
</div>

<app-profile-information-dialog
  [id]="id"
  (closeClick)="closeProfileInformationDialog()"
/>
