<div
  class="rounded-lg border border-white/5 bg-neutral-950 p-6 text-center shadow-sm"
>
  <img
    class="mx-auto h-28"
    src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/girl-shopping-list-dark.svg"
    alt="shopping illustration"
  />
  <h3 class="mb-2 mt-4 text-xl font-semibold leading-none text-white">
    Pomozi nam da se popravimo!
  </h3>
  <p class="mb-4 text-neutral-400">
    Povremeno ćemo tražiti tvoje mišljenje o radu zajednice koje nam pomažu da unapredimo sve
    aspekte u zajednici.
  </p>
  <button
    type="button"
    class="inline-flex w-full items-center justify-center rounded-lg bg-primary-400 px-5 py-2.5 text-sm font-medium text-black hover:bg-primary-300 focus:outline-none focus:ring-4 focus:ring-primary-800 sm:w-auto"
  >
    Pošalji utiske odmah
  </button>
</div>
