<div
  class="rounded-lg border border-gray-200 bg-white p-6 text-center shadow-sm dark:border-gray-700 dark:bg-gray-800"
>
  <img
    class="mx-auto h-28 dark:hidden"
    src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/girl-shopping-list.svg"
    alt="shopping illustration"
  />
  <img
    class="mx-auto hidden h-28 dark:block"
    src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/girl-shopping-list-dark.svg"
    alt="shopping illustration"
  />
  <h3
    class="mb-2 mt-4 text-xl font-semibold leading-none text-gray-900 dark:text-white"
  >
    Pomozi nam da se popravimo!
  </h3>
  <p class="mb-4 text-gray-500 dark:text-gray-400">
    Povremeno ćemo tražiti tvoje mišljenje o radu zajednice koje nam pomažu da
    unapredimo sve aspekte u zajednici.
  </p>
  <button
    type="button"
    class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto"
  >
    Pošalji utiske odmah
  </button>
</div>
