.main-header {
  view-transition-name: main-header;
  contain: layout;
}

.main-header-text {
  view-transition-name: main-header-text;
  contain: layout;
  width: fit-content;
}

.project-img img {
  view-transition-name: project-img;
  contain: layout;
  display: block;
  width: 100%;
  max-width: 450px;
}

.gallery img {
  contain: layout;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-new(project-img) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(project-img) {
  animation: fade-out 0.3s ease-in-out forwards;
  mix-blend-mode: normal;
}

.enter-animation {
  animation: slide-fade-up 0.7s;
}

.leave-animation {
  animation: slide-fade-down 0.7s forwards;
}

@keyframes slide-fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-down {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
