.main-header {
  view-transition-name: main-header;
  contain: layout;
}

.main-header-text {
  view-transition-name: main-header-text;
  contain: layout;
  width: fit-content;
}

.project-img img {
  view-transition-name: project-img;
  contain: layout;
  display: block;
  width: 100%;
  max-width: 450px;
}

.gallery img {
  contain: layout;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-new(project-img) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(project-img) {
  animation: fade-out 0.3s ease-in-out forwards;
  mix-blend-mode: normal;
}
