<div class="rounded-lg border border-gray-200 bg-gray-50 p-4 dark:border-gray-600 dark:bg-gray-700">
  <div class="mb-4 flex shrink-0 items-center space-x-2">
    <span class="dark:text-white font-bold">Donator</span>
    <span class="me-2 rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">PRO</span>
  </div>
  <p class="mb-4 border-b border-t border-gray-200 py-4 text-xl font-semibold text-gray-900 dark:border-gray-600 dark:text-white">&euro;9,99/mesečno</p>
  <p class="text-sm font-bold text-gray-900 dark:text-white">Benefiti uz PRO level</p>
  <ul role="list" class="my-4 space-y-3 text-left text-sm text-gray-500 dark:text-gray-400">
    <li class="flex items-center space-x-1.5">
      <svg class="h-5 w-5 flex-shrink-0 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
      </svg>
      <span>Ekskluzivan pristup zajednici donatora</span>
    </li>
    <li class="flex items-center space-x-1.5">
      <svg class="h-5 w-5 flex-shrink-0 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
      </svg>
      <span>Mesečni izveštaj o progresu zajednice</span>
    </li>
    <li class="flex items-center space-x-1.5">
      <svg class="h-5 w-5 flex-shrink-0 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
      </svg>
      <span>Dobro se dobrim vraća</span>
    </li>
  </ul>
  <a type="button" class="inline-flex items-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
    <svg class="-ms-0.5 me-1.5 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path
        fill-rule="evenodd"
        d="M20.337 3.664c.213.212.354.486.404.782.294 1.711.657 5.195-.906 6.76-1.77 1.768-8.485 5.517-10.611 6.683a.987.987 0 0 1-1.176-.173l-.882-.88-.877-.884a.988.988 0 0 1-.173-1.177c1.165-2.126 4.913-8.841 6.682-10.611 1.562-1.563 5.046-1.198 6.757-.904.296.05.57.191.782.404ZM5.407 7.576l4-.341-2.69 4.48-2.857-.334a.996.996 0 0 1-.565-1.694l2.112-2.111Zm11.357 7.02-.34 4-2.111 2.113a.996.996 0 0 1-1.69-.565l-.422-2.807 4.563-2.74Zm.84-6.21a1.99 1.99 0 1 1-3.98 0 1.99 1.99 0 0 1 3.98 0Z"
        clip-rule="evenodd"
      />
    </svg>
    Apliciraj za PRO
  </a>
</div>
