<app-basic-layout>
  <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ project().name }}</h1>
            <p class="mb-4">{{ project().description }}</p>
            <p>Projekat predložio: {{ project().creator.fullName }}</p>
            <p>Broj ljudi koji je podržalo projekat: {{ project().voteCounter }}</p>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-8">
          @if (project().image) {
            <img class="w-full rounded-lg" [src]="project().image" [alt]="project().name">
          } @else {
            <img src="/illustrations/woman-earth-hugging.svg" class="w-72 rounded-lg" [alt]="project().name" />
          }
        </div>
    </div>
  </section>
</app-basic-layout>
