<div class="flex items-center gap-1 h-10">
  @if (user$ | async; as user) {
    <a
      routerLink="/profil"
      class="flex items-center gap-2 dark:bg-gray-800 hover:dark:bg-gray-700 bg-gray-50 hover:bg-gray-100 px-2 py-1 rounded-lg"
    >
      @if (user.imageUrl) {
        <img [src]="user.imageUrl" alt="user" class="w-8 h-8 rounded-full" />
      }
      <span class="text-sm text-gray-500 dark:text-gray-400">
        {{ user.name }}
      </span>
    </a>
    <button
      class="ml-4 text-sm text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-400 hover:dark:text-gray-300"
      (click)="onLogoutClick()"
    >
      Odjava
    </button>
  } @else {
    <a
      routerLink="/autentikacija/prijava"
      class="text-sm text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-400 hover:dark:text-gray-300"
    >
      Prijava
    </a>
  }
</div>
