<div class="flex items-center gap-1 h-auto">
  @if ($userData(); as user) {
    <a
      routerLink="/profil"
      class="flex items-center gap-2 hover:bg-white/5 px-2 py-1 rounded-lg transition-colors"
    >
      @if (user.email) {
        <img ngxGravatar [email]="user.email" class="w-7 h-7 rounded-full" alt="user" />
      } @else {
        <span
          class="text-white text-sm font-medium flex items-center justify-center rounded-full w-7 h-7 bg-neutral-800"
        >
          {{ user.name.charAt(0) }}
        </span>
      }
      <span class="text-sm text-neutral-400 max-w-[60vw] truncate sm:max-w-none hidden sm:block">
        {{ user.name }}
      </span>
    </a>
    <button
      class="ml-3 text-sm text-neutral-600 cursor-pointer hover:text-neutral-400 transition-colors"
      (click)="onLogoutClick()"
    >
      Odjava
    </button>
  } @else {
    <a
      routerLink="/autentikacija/prijava"
      class="text-sm text-neutral-400 cursor-pointer hover:text-white transition-colors"
    >
      Prijava
    </a>
  }
</div>
