<app-basic-layout>
  <div class="container mx-auto px-4 py-8 lg:py-16 flex flex-col gap-8">

    <app-project-list-header />

    <app-project-list-filters />

    <section class="flex gap-6 flex-wrap">
      @if ($loading()) {
        <app-page-loader class="flex items-center justify-center text-center w-full h-96 align-middle" />
      } @else {
        @for (project of $projects(); track project.id) {
          <app-project-card [project]="project" />
        }
      }
    </section>
  </div>
</app-basic-layout>
