<header class="container mx-auto py-6">
  <div class="flex justify-between items-center">
    <a routerLink="/" class="flex items-center">
      <span class="ml-3 mr-2 text-green-400 text-lg">git</span>
      <span class="text-xl font-bold text-black dark:text-white"> push Serbia </span>
  <div class="flex justify-between items-center gap-y-2">
    <a routerLink="/" class="flex items-center whitespace-nowrap">
      <span class="ml-3 mr-2 text-green-700 dark:text-green-400 text-lg">git</span>
      <span class="text-xl font-bold text-black dark:text-white">push Serbia</span>
    </a>

    <div class="flex items-center gap-2">
      <app-theme-switcher />
      <app-user-widget />
    </div>
  </div>
</header>
